<%- include('base/top') -%>
<h2>Register</h2>
<div class="row">
    <div class="col">
        <form method="POST" action="">
            <div class="form-group">
                <label for="email"></label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email">

                <label for="password"></label>
                <input type="password" name="password" class="form-control" id="password"
                    aria-describedby="passwordHelp" placeholder="Enter password">
            </div>
            <button type="submit" id="login-btn" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

<%- include('base/scripts') -%>
<%- include('base/bottom') -%>