<%- include('base/top') -%>

<div class="row">
    <div class="col">
        <h1>REGISTER</h1>
        <form id="register-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input required type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                    placeholder="Enter email">

                <label for="password">Password</label>
                <input required type="password" class="form-control" id="password" name="password"
                    aria-describedby="passwordHelp" placeholder="Enter password">

                <label for="password_repeat">Password Repeat</label>
                <input required type="password" class="form-control" id="password_repeat" name="password_repeat"
                    aria-describedby="passwordHelp" placeholder="Enter password">

                <hr>

                <label for="wallet_address">wallet_address</label>
                <input required type="text" class="form-control" id="wallet_address" name="wallet_address"
                    aria-describedby="walletHelp" placeholder="Wallet adddress">

                <hr>
                
                <label for="max_delta">max_delta</label>
                <input type="number" class="form-control" id="max_delta" name="max_delta"
                    aria-describedby="max_deltaHelp" placeholder="max_delta">


                <label for="min_delta">min_delta</label>
                <input type="number" class="form-control" id="min_delta" name="min_delta"
                    aria-describedby="min_deltaHelp" placeholder="min_delta">

                <label for="refresh_rate">refresh_rate</label>
                <input type="number" class="form-control" id="refresh_rate" name="refresh_rate"
                    aria-describedby="refresh_rateHelp" placeholder="refresh_rate">

                <hr>

                <label for="FTX_KEY">FTX_KEY</label>
                <input required type="password" class="form-control" id="FTX_KEY" name="FTX_KEY"
                    aria-describedby="FTX_KEYHelp" placeholder="Enter password">

                <label for="FTX_SECRET">FTX_SECRET</label>
                <input required type="password" class="form-control" id="FTX_SECRET" name="FTX_SECRET"
                    aria-describedby="FTX_SECRETHelp" placeholder="Enter password">

            </div>
            <button type="submit" id="register-btn" class="btn btn-primary">Register</button>
            <span id="message"></span>
        </form>
    </div>
</div>

<%- include('base/scripts') -%>

<script type="module" src="/scripts/register.js"></script>

<%- include('base/bottom') -%>